%br
%h2
    Sonifizer Guide:
.row
    .sixteen.columns
        %section.thirdteen.columns.example-section
            %h3.six.columns
                Strings (Usernames):
            %section.six.columns.offset-by-one
                %p
                    'abczzz'
                %audio{src: "#{@string_audio_data_01}", controls: true} 
                .row  
                %p
                    'Sonifizer2013'
                %audio{src: "#{@string_audio_data_02}", controls: true}
        .row

%h2
    Sonifizer Examples:
.row

%br
    %section.thirdteen.columns.example-section
        %h3.six.columns
            Beeps:
        %section.six.columns.offset-by-one    
            %p
                Low
            %audio{src: "#{@tone_audio_data_01}", controls: true}
            .row
            %p
                High
            %audio{src: "#{@tone_audio_data_02}", controls: true}
    .row
    %section.thirdteen.columns.example-section
        %h3.six.columns
            Slides:
        %section.six.columns.offset-by-one  
            %p
                Up
            %audio{src: "#{@slide_audio_data_01}", controls: true}
            .row
            %p
                Down
            %audio{src: "#{@slide_audio_data_02}", controls: true}
    .row
    %section.thirdteen.columns.example-section
        %h3.six.columns
            Arrays:
        %section.six.columns.offset-by-one
            %p
                [1, 2, 3, 2, 1]
            %audio{src: "#{@data_audio_data_01}", controls: true} 
            .row  
            %p
                [1, 100, 50, 500, 75, 750, 100, 1000, 200, 2000]
            %audio{src: "#{@data_audio_data_02}", controls: true}
    .row
    %section.thirdteen.columns.example-section
        %h3.six.columns
            Strings (Usernames):
        %section.six.columns.offset-by-one
            %p
                'abczzz'
            %audio{src: "#{@string_audio_data_01}", controls: true} 
            .row  
            %p
                'Sonifizer2013'
            %audio{src: "#{@string_audio_data_02}", controls: true}
    .row
.row
    .sixteen.columns
        %section.thirdteen.columns.example-section
            %h3.six.columns
                Using Sonifizer
            %section.six.columns.offset-by-one 
                %a{href: "http://www.SonifyData.com"} 
                    SonifyData
                .row  
                %a{href: "http://www.Audatar.com"} 
                    Audatar
                .row  
                %a{href: "http://www.SoniStock.com"} 
                    SoniStock
                .row  
                %a{href: "http://www.Sonipiz.com"} 
                    Sonipix
        .row


