%br
%h2
    Sonifizer Guide:
.row
    .sixteen.columns

%h2
    Sonifizer Examples:
.row

%br
.sixteen.columns
    %section.seven.columns
        %h3
            Temperatures -> Audio
    %section.seven.columns    
        %p
            Temperatures in New York City from January 2000 to January 2013   
        %audio{src: "#{@slide_audio_data_01}", controls: true}
    .row

    %section.seven.columns
        %h3
            Stock Prices -> Audio
    %section.seven.columns    
        %p
            Stock prices for Apple from January 2000 to January 2013 

        %audio{src: "#{@slide_audio_data_02}", controls: true}
    .row

    %section.seven.columns
        %h3
            Usernames -> Audio
    %section.seven.columns    
        %p
            Let's say your user's name was Sonifizer
        %audio{src: "#{@tone_audio_data_01}", controls: true}
        %p
            What if is was Mr. Sonifizer?
        %audio{src: "#{@tone_audio_data_02}", controls: true}
        %p
            What if is was Ms. Sonifizer?
        %audio{src: "#{@tone_audio_data_01}", controls: true}
        %p
            What if is was Sonifizer1983?
        %audio{src: "#{@tone_audio_data_02}", controls: true}

    %section.seven.columns
        %h3
            Up Downs -> Audio
    %section.seven.columns    
        %p
            Let's go up down
        %audio{src: "#{@data_audio_data_01}", controls: true}
        %p
            Let's go down up
        %audio{src: "#{@data_audio_data_02}", controls: true}

    

