%h2
    Sonifizer:
.row.example-section
    .sixteen.columns
        %section.thirdteen.columns
            %h4.seven.columns
                You have data... Hear your data.
            .row
            %p.seven.columns.offset-by-one
                You already have visualizations...
                %br  
                Include sonifications in your presentations.
            .row
            %h4.seven.columns
                Unique users audio-avatars (audatars)...
            .row    
            %p.seven.columns.offset-by-one
                You have users...
                %br  
                Give each a sound adding immediate personalization.
                %br

%h2
    Sonifizer Examples:
.row.example-section
    %br
    %section.thirdteen.columns.small-example-section
        %h3.six.columns
            Beeps:
        %section.six.columns.offset-by-one    
            %p
                Low
            %audio{src: "#{@tone_audio_data_01}", controls: true}
            .row
            %p
                High
            %audio{src: "#{@tone_audio_data_02}", controls: true}
    .row
    %section.thirdteen.columns.small-example-section
        %h3.six.columns
            Slides:
        %section.six.columns.offset-by-one  
            %p
                Up
            %audio{src: "#{@slide_audio_data_01}", controls: true}
            .row
            %p
                Down
            %audio{src: "#{@slide_audio_data_02}", controls: true}
    .row
    %section.thirdteen.columns.small-example-section
        %h3.six.columns
            Arrays:
        %section.six.columns.offset-by-one
            %p
                [1, 2, 3, 2, 1]
            %audio{src: "#{@data_audio_data_01}", controls: true} 
            .row  
            %p
                [1, 100, 50, 500, 75, 750, 100, 1000, 200, 2000]
            %audio{src: "#{@data_audio_data_02}", controls: true}
    .row
    %section.thirdteen.columns.small-example-section
        %h3.six.columns
            Strings (Usernames):
        %section.six.columns.offset-by-one
            %p
                'abczzz'
            %audio{src: "#{@string_audio_data_01}", controls: true} 
            .row  
            %p
                'Sonifizer2013'
            %audio{src: "#{@string_audio_data_02}", controls: true}
    .row
.row.example-section
    .sixteen.columns
        %section.thirdteen.columns
            %h3.six.columns
                Using Sonifizer
            %section.six.columns.offset-by-one 
                %a{href: "http://www.SonifyData.com"} 
                    SonifyData
                .row  
                %a{href: "http://www.Audatar.com"} 
                    Audatar
                .row  
                %a{href: "http://www.SoniStock.com"} 
                    SoniStock
        .row
.row
    %h2
        Sonifizer.js
        %a{href: "/Sonifizer.js", target: "_blank"}
            %h5#Sonifizer-js-download
                (download)
    .row
        .sixteen.columns
            %section.thirdteen.columns.example-section#Sonifizer-js
                %script
                    $('#Sonifizer-js').load('/Sonifizer.js');




