<!DOCTYPE html>
<html>
<head>
  <title>Sonifizer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

<p class="notice"><%= notice %></p>       
<p class="alert"><%= alert %></p>
<%= yield %>

<div class="row"></div>

<% if !current_admin %>
    <%= link_to("Admin-Login", new_admin_session_path) %>
<% elsif current_admin %>    
    <%= link_to("Home", root_path) %>
    <%= link_to("Admin-Console", admin_path) %>
    <%= link_to("Log-out", destroy_admin_session_path) %>
<% end %>

<div class="row"></div>

</body>
</html>
